<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
  <uses-feature android:glEsVersion="0x00030000" />
  <uses-feature android:name="android.hardware.vulkan.version" android:required="false" />
  <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
  <application android:appCategory="game"
               android:icon="@mipmap/app_icon"
               android:banner="@drawable/tv_banner"
               android:enableOnBackInvokedCallback="true"
               android:extractNativeLibs="true">
    <provider android:name="com.familyforceunity.input.UpdateFileProvider"
              android:authorities="${applicationId}.updates"
              android:exported="false"
              android:grantUriPermissions="true" />
    <activity android:name="com.unity3d.player.UnityPlayerGameActivity" tools:node="remove" />
    <activity android:name="com.familyforceunity.input.FamilyForceUnityGameActivity"
              android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale|layoutDirection|density"
              android:enabled="true"
              android:exported="true"
              android:hardwareAccelerated="true"
              android:launchMode="singleTask"
              android:resizeableActivity="true"
              android:screenOrientation="fullUser"
              android:theme="@style/BaseUnityGameActivityTheme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
        <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
      </intent-filter>
      <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
      <meta-data android:name="android.app.lib_name" android:value="game" />
      <meta-data android:name="notch_support" android:value="true" />
    </activity>
  </application>
</manifest>
